API_SERVER_ADDRESS=VALUE

PORT=VALUE

#development || production
NODE_ENV=VALUE

# Database Connection
# LOCAL
DB_USER=VALUE
DB_HOST=VALUE
DB_DATABASE=VALUE
DB_PASSWORD=VALUE
DB_PORT=VALUE

# PROD
PGUSER=VALUE
PGHOST=VALUE
PGDATABASE=VALUE
PGPASSWORD=VALUE
PGPORT=VALUE

APP_NAME=Docuvault: Conversion Service

CONVERSION_SERVICE_URL=VALUE
CONVERSION_SERVICE_TIMEOUT=500

#FIREBASE 
FIREBASE_API_KEY=VALUE
FIREBASE_AUTH_DOMAIN=VALUE
FIREBASE_PROJECT_ID=VALUE
FIREBASE_STORAGE_BUCKET=VALUE
FIREBASE_MESSAGING_SENDER_ID=VALUE
FIREBASE_APP_ID=VALUE
FIREBASE_MEASUREMENT_ID=VALUE
